{
  "appWebSocketConnection": {
    "host": ${host},
    "port": ${port},
    "accessToken": ${accessToken}
  },
  "appReverseWebSocketConnection": {
    "port": ${port},
    "path": ${path},
    "accessToken": ${accessToken}
  },
  "testSendPrivateMessage": false,
  "friendUserId": ${userId},
  "strangerUserId": ${userId},
  "botIsMemberGroupId": ${groupId},
  "botIsAdminGroupId": ${groupId},
  "botIsOwnerGroupId": ${groupId},
  "botIsMemberAndOtherIsMember": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsMemberAndOtherIsAdmin": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsMemberAndOtherIsOwner": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsAdminAndOtherIsMember": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsAdminAndOtherIsAdmin": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsAdminAndOtherIsOwner": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsOwnerAndOtherIsMember": {
    "groupId": ${groupId},
    "userId": ${userId}
  },
  "botIsOwnerAndOtherIsAdmin": {
    "groupId": ${groupId},
    "userId": ${userId}
  }
}